FizzBuzz method takes an integer number, and returns:
"FizzBuzz" if the input number is divisible by 5 and 3
"Buzz" if the input number is divisible by 5
"Fizz" if the input number is divisible by 3
The input number itself if none of the other statements are true.